# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
attend_env/

# IDE
.vscode/

# Temp files
temp.jpg
temp_face.jpg
temp_upload.png

# Attendance output
attendance_records/*
!attendance_records/README.txt
attendance.csv

# Sensitive image data
students/*
groupPhotos/*
known_Faces/*

!students/README.txt
!groupPhotos/README.txt
!known_Faces/README.txt